---
import ContactSection from "../components/ContactSection";
import FeatureSection from "../components/FeatureSection";
import HeroSection from "../components/HeroSection";
import NavBar from "../components/NavBar";
import TestimonialSection from "../components/TestimonialSection";
import WhySection from "../components/WhySection";
---

<html class="scroll-smooth" lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/assets/logo_favicon.svg" />
		<meta
			name="description"
			content="ShopWisely es una aplicación que te permite obtener los mejores precios y recibirlos en la puerta de tu casa"
		/>
		<title>ShopWisely | Comparador de Precios y Entrega Rápida</title>
	</head>
	<body>
		<div class="grid grid-rows-[auto_1fr] min-h-screen">
			<NavBar client:load />

			<main class="mx-[10vw]">
				<HeroSection />

				<div class="h-48"></div>

				<WhySection />

				<div class="h-48"></div>

				<FeatureSection />

				<div class="h-48"></div>

				<TestimonialSection />

				<div class="h-48"></div>

				<ContactSection />

				<div class="h-48"></div>
			</main>
		</div>
	</body>
</html>
